.login{
    display: flex;
    justify-content: center;
}

.login__left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#3B41D2;
    width: 50%;
    height: 100vh;
}
.login__left__image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.login__left__image img{
    width: 70%;
}
.login__left__image h2{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    width: 80%;
    line-height: 69px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}
.login__right{
    width: 50%;
    margin-top: 10%;
}
.login__rightCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login__right__input{
    width: 55%;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;

}
.login__right__center h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
}
.login__right__input input::placeholder{
    color: #BEBEBE;
}
.login__right__input h3{
    font-size: 22px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
    margin-left: 8px;
}
.login__right__input input{
    padding: 10px 15px;
    font-size: 16px;
    width: 100%;
    background: #F9F7F7;
    border: 1px solid #D8D8D8;
    border-radius: 8px;
}
.submit__btn{
    margin-top: 20px;
    font-size: 22px;
    margin-bottom: 20px;
    background: #4F54DC;
    border-radius: 45px;
    padding: 5px 15px;
    width: 440px;
    border: 1px solid #4F54DC;
    color: white;
    cursor: pointer;
}
.already__account {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
    color: #BEBEBE;
}
.login__account{
    font-size: 18px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;  
    color: #6436EA;
}