.profile{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.leftSide{
    width: 15%;
    height: 100vh;
    background-color: #4F54DC;
}
h2{
    font-family: 'Poppins', sans-serif;

}
.rightSide{
    padding-left: 25px;
    width: 85%;
    /* background-color: blue; */
}
.rightSide .details .iconWithDt .icon{
    display: flex;
}
.rightSide .details .iconWithDt .icon p{
    font-family: 'Poppins', sans-serif;
    width: 450px;
    background-color: #D9D9D9;
    padding: 2px 15px;

}
.list_icon{
    display: flex;
    justify-content: space-around;
}

.recent .list_recent .listFirst{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    padding: 20px 15px;
    width: 95%;
}
.rightSide .recent .list_recent .listFirst .algo{
    font-weight: 500;
    font-size: 16px;
}
.rightSide .recent .list_recent .listFirst p{
    line-height: 0px;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}
.rightSide .recent .list_recent .listSecond{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 15px;
    width: 95%;
}
.rightSide .recent .list_recent .listSecond .algo{
    font-weight: 500;
    font-size: 16px;
}
.rightSide .recent .list_recent .listSecond p{
    line-height: 0px;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}