.StackContainer {
    /* background-color: lightcoral; */
    height: 50px;
    font-size: 25px;
  }
  
  /* h3 {
    color: brown;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
   */